node_modules
.expo/devices.json
.expo/README.md
.expo/xcodebuild-error.log
.expo/xcodebuild.log
.expo/prebuild/cached-packages.json
.expo/web/cache/production/images/iconsuniversal-icon/iconsuniversal-icon-f2aa433a8c0918cbe70cda601a7ac2de56781d56cf8ed8f48f5991a40bb1c8fd-cover-#ffffff/App-Icon-1024x1024@1x.png
.expo/web/cache/production/images/splash-ios/splash-ios-e0b0c2b0ca0a0c5ddcf28b62517560b60ff953d84b05baaebf23280d371878b6-contain/icon_undefined.png
ios/Podfile
ios/Podfile.lock
ios/Podfile.properties.json
ios/CouchPotatoPlayer/AppDelegate.swift
ios/CouchPotatoPlayer/CouchPotatoPlayer-Bridging-Header.h
ios/CouchPotatoPlayer/CouchPotatoPlayer.entitlements
.expo/web/cache/production/images/favicon/favicon-cadf83a8503667632139d79090b3b5aa15ce7be281ef809a6f6a4144d5c25920-contain-transparent/favicon-48.png
dist/favicon.ico
dist/index.html
dist/metadata.json
dist/_expo/static/js/web/index-ca461a734e33e32dc705470dd7113560.js
dist/assets/assets/character_logo.be6b2aea3178d30abe8d464375de4d86.png
test-results/.last-run.json
dist/assets/assets/brand-mark-small.229bc7346ca9e4b03e11627961f417d4.png
